

/*ipad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .navigation-icons {
    top: 34px;
    right: 80px;
  }
  .hero-post {
    right: -60px;
  }
  .hero-heading {
    margin-left: -20px;
  }
}

/*iphoneX*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .logo {
    margin: auto;
  }
  .navigation-icons {
    display: none;
  }
  .mobile-navigation {
    display: flex;
    position: absolute;
    background-color: #fff;
    height: 80px;
    width: 100%;
    bottom: 0;
    justify-content: center;
  }
}

/*iPhone 6, 7, & 8 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) { /* STYLES GO HERE */}

/*iPhone 6, 7, & 8 Plus */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) { /* STYLES GO HERE */}
